<html>
  <div class="page">
  <h3>OBLIGATIONS AND RESPONSIBILITIES OF TENANTS</h3>
  <h4>
  <input type="checkbox" name="rent"/> paying the rent ontime.
  <br>
	<input type="checkbox" name="purpose"/> Making sure the house or flat is used mainly for living purpose.
  <br>
  <input type="checkbox" name="clean"/>Keeping the house or flat reasonably clean and tidy.
  <br>
  <input type="checkbox" name="beinggood"/>Being a good neighbour (i.e. not disturbing your neighbour).
  <br>
  <input type="checkbox" name="damage"/>Letting the landlord know as soon as damage is discovered or repairs needed.
  <br>
  <input type="checkbox" name="intimate"/>If you want to leave the flat, intimate landlord before 1 month while paying rent.
  <br>
  <input type="checkbox" name="leaving"/>Leaving when the tenancy comes to an end.
  <br>
  <input type="checkbox" name="paying"/>Every year, i will pay the rent told by owner.
  <br>
  <input type="checkbox" name="remove"/>Removing all your personal items from the house or flat when you leave.
  <br>
  <input type="checkbox" name="remove1"/>Leaving the house or flat reasonably tidy, and remov all rubbish at the end of the tenancy.
 <br>
  <input type="checkbox" name="keys"/>Returning the keys to the landlord at the end of the tenancy.
   <br>
   <input type="checkbox" name="rent"/>Leaving any personal items or pieces of furniture provided by the landlord.
   </h4>
</div>

</html>
