<div class="page">
    <h3>TENENT SECONDARY DETAILS</h3>
    WORKING CONTACT NOS:1.
    <input type="text" name="Contact" required>
    2.
    <input type="text" name="Contact" required>
    <br><br>
    ADVANCE DATE*/
    <input type="date" name="dob" id=DOB/>
    <br><br>
    FLAT OCCUPIED DATE*:
    <input type="date" name="dob" id=DOB/>
    <br><br>
    RENT AMOUNT:
    <input type="text" name="rent" required>
    IN WORDS
    <input type="text" name="words">
    <br><br>
    WATERBILL
    <input type="text" name="bill">
    <br><br>
    NO.OF PERSONS IN FLAT (INCLUDING YOU)*:
    <input type="text" name="no.persons" required> /
    ADULTS
    <input type="text" name="adults" required> /
    CHILDS
    <input type="text" name="childs" required> /
    <br>
    TOTAL IN WORDS
    <input type="text" name="Contact" required>.
    <br><br>
    NAMES OF REMAINING PERSONS:
    <input type="text" name="Contact" required>
    <br><br>
    <div class="final">
        <h3>SIGNATURE WITH DATE</h3>
    </div>
</div>