<div class="page">
    <h1> GANA VEL AYYAPA NELAYAM</h1>
    <label>FLNT NO</label>
    <input type="text" name="Flat No" required>
    <br><br>
    <label>ELECTRICITY UC NO</label>
    <input type="text" name="Electricity UC No" required>
    <br><br>
    DATE
    <input type="date" name="dob" id=DOB/>
    <br><br>
    FIX A PASSPORT SIZE PHOTO
    <input type="file" name="userimage" id=image/>
      <br/><br/>
    NAME(FULL NAME):
    <input type="text" name="Full Name" required>
    <br/><br/>
    WORKING AT
    <input type="text" name="Full Name" required>
    AS A
    <input type="text" name="Full Name" required>
    IN
    <input type="text" name="Full Name" required>
    Area
    <br><br>
    PERMANENT ADDRESS:
    <input type="text" name="adress" required>
    <input type="text" name="address" required>
    <br><br>
    DISTRICT
    <input type="text" name="adress" required>
    <br><br>
    STATE
    <input type="text" name="state" required>
    <br><br>
    PINCODE
    <input type="text" name="PINCODE" required>
    <br><br>
  </div>